.lightning_studio/
.ipynb_checkpoints/
.cursor-server
.vscode-server
.windsurf-server
settings.json
this_studio.iml

.venv
.env


outputs/

__pycache__/
unsloth_compiled_cache/

test.ipynb
mapping.ipynb
